* {
  font-family: 'Tahoma', sans-serif
}

:root {
--light: #eedac3;
--dark: #32586e;
--link: #82c4eb;
}

body {
  background-color: var(--dark);
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image:url("../images/headerBGimg.jpg");
}

h1 {
  font-family: 'Garamond', serif;
  font-size: 3rem;
  color: var(--light);
  background-color: var(--dark);
  margin: 0.75rem;
  padding: 2rem;
  border: 0.3rem solid var(--light);
  border-radius: 0.25rem;
}

nav {
  display: flex;
  align-items: flex-start;
  margin: 0.75rem;
}

ul {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  background-color: var(--dark);
  border: 0.3rem solid var(--light);
  border-radius: 0.25rem;
}

li {
  display: inline;
  letter-spacing: 0.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1.5rem;
}

#middle {
  border-right: 0.3rem solid var(--light);
  border-left: 0.3rem solid var(--light);
}

#bio {
  padding: 1rem;
}

.top {
  border-top: 0.3rem solid var(--light);
  padding-top: 1rem;
}

.bottom {
  border-bottom: 0.3rem solid var(--light);
  padding-bottom: 1rem;
}

p {
  color: var(--light);
  line-height: 1.25rem;
  padding: 0 1rem;
}

#works {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
}

#works h2 {
  display: inline;
  margin-right: 1rem;
}

#works img {
  border: 0.3rem solid var(--light);
}

.link-image { /* begin fade-in overlay for works image links */
  position: relative;
  max-width: 100%;

}

.works-img {
  backface-visibility: hidden;
  display: block;
  height: auto;
  max-width: 100%;
  opacity: 1;
  transition: .5s ease;
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 10%;
  opacity: 0;
  text-align: center;
  transition: .5s ease;
}

.link-image:hover .works-img {
  opacity: 0.3;
}

.link-image:hover .overlay {
  opacity: 1;
}

.text { /* end fade-in overlay for works image links */
  background-image:url("../images/overlayBGimg.jpg");
  border: 0.3rem solid var(--light);
  border-radius: 0.25rem;
  color: var(--light);
  font-weight: bold;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--light);
}

a:visited {
  color: var(--light);
}

a:hover {
  color: var(--link);
}

a:active {
  border: 0.25rem solid var(--link);
  border-radius: 0.25rem;
}

h2 {
  color: var(--light);
  display: inline;
  font-weight: 600;
}

img {
  display: inline;
  margin-right: 1rem;
}